@import url(general.css);
html, body {
	min-height: 100.01%;
	width: 100%;
	color: #000;
	font-size: 11px;
}
h1 {
	text-align: center;
	position: absolute;
	top: 175px;
	left: 0;
	right: 0;
}

#logo {
	padding-top: 227px;
}

#banner {
	display: none;
}

#inner {
	position: relative;
	margin: 0 auto;
	width: 300px;
	padding:0;
}

#inner img {
	display: block;
	padding-bottom: 30px;
}

#nav {
	margin: 3cm auto 0 auto;
	width: 300px;
}

#nav li, #imprint {
	float: left;
}

#nav li, #nav p {
	padding-right: 20px;
}

#nav li.first, #nav h2.inv {
	display: none;
}



